body {
            font-family: 'Inter', sans-serif;
            color: rgba(137, 135, 161, 1);
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Noto Serif", serif;
            font-variation-settings:
            "wdth" 100;
            font-weight: bold;
        }

         /* Latest Deals Section Images */
        .latest-deals-item-1 {
            background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/deal-bloom.png'); /* Use the uploaded image */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .latest-deals-item-2{
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/deal-zabo.png'); /* Use the uploaded image */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .latest-deals-item-3 {
            background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/deal-ana.png'); /* Use the uploaded image */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* Flower Store Style */
        .flower-store-bg {
            background-image: url('flower-store.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        


        .join-container {
            background-image: url(./assets/news-letter-bg.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .join-container button {
            padding: 5px 10px;
            color: white;
            font-weight: 500;
        }

        /* Flower Lover Section */
        .inner-image {
            height: 200px;
            width: 200px;
            top: -50px;
            left: 400px;
            z-index: 1;
        }
        .flower-lover-item-1 {
            background-image: url(./assets/flower-store.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 0;
        }

        @media screen and (max-width: 570px) {
            nav ul li {
                display: none;
            }
            .banner-section {
                flex-direction: column-reverse;
                margin-top: 3rem;
            }
            .banner-content {
                margin-top: 3rem;
            }
            .flower-lover-container {
                display: flex;
                flex-direction: column;
            }
            .flower-lover-item {
                max-width: 500px;
                max-height: 400px;
            }
            
        }